<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.mapper.DingDanMapper">
    <select id="selectAll" resultType="com.netease.entity.DingDan">
        select *  from dingdan;
    </select>
    <select id="selectDingDanById" parameterType="long" resultType="com.netease.entity.DingDan">
        select *  from dingdan WHERE ID=#{ID};
    </select>
    <select id="selectDingDanByUserId" parameterType="long" resultType="com.netease.entity.DingDan">
        select *  from dingdan WHERE userId=#{userId};
    </select>
    <select id="selectDingDanByUserIdAndProductId" parameterType="long" resultType="com.netease.entity.DingDan">
        select *  from dingdan WHERE userId=#{userId} and productId=#{productId};
    </select>
    <insert id="insertDingDan" parameterType="com.netease.entity.DingDan" statementType="PREPARED"
            keyProperty="ID" useGeneratedKeys="true">
        insert into dingdan
        (userid,productid,price,sum) values
        (#{userId},#{productId},#{price},#{sum})
    </insert>

    <update id="updateDingDan" parameterType="com.netease.entity.DingDan">
        update dingdan set userid = #{userId},productid=#{productId},
        price=#{price},sum=#{sum}
        where id = #{ID};
    </update>
    <delete id="deleteDingDan" parameterType="Long">
        delete from dingdan where id = #{ID};
    </delete>
</mapper>