<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netease.mapper.ProductMapper">
    <select id="selectAll" resultType="com.netease.entity.Product">
        select *  from product;
    </select>
    <select id="selectProductById" parameterType="long" resultType="com.netease.entity.Product">
        select *  from product WHERE ID=#{ID};
    </select>
    <insert id="insertProduct" parameterType="com.netease.entity.Product" statementType="PREPARED"
            keyProperty="ID" useGeneratedKeys="true">
        insert into product
        (name,topic,picurl,price,info,num,sellNum) values
        (#{name},#{topic},#{picUrl},#{price},#{info},#{num},#{sellNum})
    </insert>

    <update id="updateProduct" parameterType="com.netease.entity.Product">
        update product set name = #{name},topic=#{topic},picurl=#{picUrl},
        price=#{price},info=#{info},num=#{num},sellNum=#{sellNum}
        where id = #{ID};
    </update>
    <delete id="deleteProduct" parameterType="Long">
        delete from product where id = #{ID};
    </delete>
</mapper>